@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CynthoNextRegular" "CynthoNextBold";
  src: local("CynthoNextRegular"), url(./assets/fonts/cyntho-next-cufonfonts/CynthoNextRegular.otf) format("truetype");
  src: local("CynthoNextBold"), url(./assets/fonts/cyntho-next-cufonfonts/CynthoNextExtraBold.otf) format("truetype");
}

html {
  font-family: CynthoNextRegular, CynthoNextBold;
}
