@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CynthoNextRegular";
  src: local("Gilroy"), url(./assets/fonts/cyntho-next-cufonfonts/CynthoNextRegular.otf) format("truetype");
}

html {
  font-family: CynthoNextRegular;
}
